%form{ :action => "", :method => "post"}
  %label{:for => "search"} Search:
  %input{:type => "text", :name => "search", :class => "text"}
  %input{:type => "submit", :value => "Send", :class => "button"}


- if @movies_results
  %h3 Movies
  %table#mytable{:cellspacing => "0"}
    %thead
      %th= "Title"
      %th= 'Studio'
      %th= "Genre"
      %th= "LastModified"
      %th= "ImageUrl"
      %th= "Runtime"
      %th= "Homepage"
      %th= "ReleaseDate"
      %th= "Description"
      %th= "Language"
      %th= "Tagline"
    %tbody
      - @movies_results.map do |result|
        %tr
          %td= result["title"]
          %td= result['studio']
          %td= result["genre"]
          %td= result["lastModified"]
          %td
            %img{:src => result["imageUrl"]}
          %td= result["runtime"]
          %td= result["homepage"]
          %td= result["releaseDate"]
          %td= result["description"]
          %td= result["language"]
          %td= result["tagline"]

- if @people_results
  %h3 People
  %table#mytable{:cellspacing => "0"}
    %thead
      %th= "id"
      %th= "lastModified"
      %th= "name"
      %th= "profileImageUrl"
      %th= "biography"
      %th= "version"
    %tbody
      - @people_results.map do |result|
        %tr
          %td= result["id"]
          %td= result["lastModified"]
          %td= result["name"]
          %td
            %img{:src => result["profileImageUrl"]}
          %td= result["biography"]
          %td= result["version"]
